{% extends "AppCoder/padre.html" %}
{% load static %}
{% block contenidoQueCambia %}

    <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
    <div class="bg-dark">
        <h1 class="text-center text-white">Editar Perfil</h1>
        <h3 class="text-center text-white">De usuario/a: {{usuario}}</h3>
        
        <div class="d-flex justify-content-center text-white">  
            <form action="" method="POST">{% csrf_token %}

                <table class="my-4">
                    {{ miFormulario.as_table }}
                </table>
        
                <input type="submit", value="Enviar" class="mb-3 btn btn-primary" >
                <button class="mb-3 btn btn-primary"><a href="{% url 'Inicio' %}" class="text-white text-decoration-none">Volver a inicio</a></button>
            </form>
        
        </div>
    </div> 
{% endblock %}
