{% extends 'AppCoder/padre.html' %}
{% load static %}
{% block contenidoQueCambia %}


    <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
    <div class="text-center">
        <h1 class="mt-5">INICIO</h1>
        <p>Se ha heredado todo desde la plantilla padre</p>
        <h3 class="mb-5">Este es inicio.html. Aun no tiene contenido.</h3>
        <img class="mb-5" src="/AppCoder/imagenes/logo.svg" alt="PetHouse" width="300"> <!-- VER COMO HACER QUE SE VEA -->
    </div>
    

{% endblock %}  
