{% extends 'AppCoder/padre.html' %}
{% load static %}
{% block contenidoQueCambia %}


    <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
    <div class="text-center">
        <h1 class="mt-5">VETERINARIOS</h1>
        <p>Aqui iran ingresados los empleados veterinarios </p>
        <h3 class="mb-5">Este es veterinarios.html. Aun no tiene contenido.</h3>

        <button class="mb-5 btn btn-secondary" ><a class="text-light" href="{% url 'VeterinariosFormularios' %}">FORMULARIO DE VETERINARIOS</a></button>
    </div>
    
    
{% endblock %}  
